.projects {
    padding: 79px 0 89px 0;
    background: #f5f5f5;
}

.projects__h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #333333;
    margin-bottom: 73px;
    position: relative;
}

.projects__h2::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.09);
    width: 80px;
    height: 2px;
    left: 50%;
    top: 64px;
    transform: translateX(-50%)
}

.examples {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-basis:30%;
    flex-wrap: wrap; 
}

.example {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white
}

.example__img {
    width: 300px;
    height: 300px;
}

.example__h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-top: 19px;
    text-transform: uppercase;
}

.example__info {
    font-family: 'Vollkorn', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 21px;
}